{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>This is a small web app where you can share some code snippets, small notes and anything you can imagine really that can be presented in text.
        Use it free of charge to exchange useful snippets with your co-workers and friends. If you're interested in exchanging code snippets solely,
        a more robust support for code formatting and syntax highlighting is on the way in future releases. Stay tuned!
    </p>
{{end}}